# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# DuckDB
*.duckdb
*.duckdb.wal

# dbt
target/
dbt_packages/
logs/

# Data
data/raw/
data/*.csv
data/*.gz
data/*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
